.DS_Store
.git/
data/
__pycache__/
bit_results/
pickled_data/
misc/
symbolic_cov*
diff_*
matlab/*.asv
python/__pycache__/
python/distanc_calc.so
python/c_optimizations/libblas.a
python/c_optimizations/libcblaswr.a
python/c_optimizations/libf2c.a
python/c_optimizations/liblapack.a
python/graphs/
